#layout{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh !important;
}

#homeComponent{
    height: 100% !important;
    box-sizing: border-box !important;
}

.ant-layout-header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2% !important;

}

.ant-layout-content{
    height: 90vh;
    min-height: auto !important;
}

#sidebar{
    width: auto;
    overflow-y: auto;
}

#sidebar_menu{
    height: 100%;
    max-height: 100vh;
}


#sidebar_logocont{
    width: 100%;
height: 120px;
display: flex;
align-items: center;
justify-content: center;
transition: all;
transition-duration: .3s;
}

#imgSidebar{
    width: 100px;
}

.nopacity{
    opacity: 0;
}

.imgSidebar{
    width: 0 !important;
}

.dissapear_logo_Cont{
    width: 0px !important;
    height: 0px !important;
}


.asd{
    background-color: red !important;
}