.Header_1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header_2{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}